a img{
  margin-left: 20px;
  border-radius: 50%;
}

li a{
  font-size: 20px;
  color: brown;
  font-weight: bold;
}

#navbarScroll{
  // margin-left: 550px;
}
.nav-item{
  margin-left: 25px;
}
