<!-- bind data -->
<!--interpolation => value from ts to html component-->
<!-- -->
<!-- <h1>{{track}}</h1>
<h3>{{sayhello()}}</h3> -->

<!-- <p>test</p>
<h3>{{traClass.traName}}</h3>
<img src="{{traClass.traImage}}" alt="" width="150px" height="150px"> -->

<!--*ngfor =>for of-->
<p>test</p>
<h3>{{mg.name}}</h3>
<img src="{{mg.logo}}" alt="" width="150px" height="150px">

<ul>
  <li *ngFor="let b of mg.branch">{{b}}</li>
</ul>


<!-- interface-->
<!-- <p>test interface</p>
<h3>{{ICategory.Name}}</h3>
<h4>CateogryID: {{ICategory.CateogryID}}</h4>
<h4>id: {{ICategory.ID}}</h4>
<h4>price: {{ICategory.Price}}</h4>
<h4>Quantity: {{ICategory.Quantity}}</h4> -->





<!-- <ul>
  <li *ngFor="let co of interfaceClass.courses">{{co}}</li>
</ul>
 -->

